
header{
    background-color: #F5F3F0;
    width: 100%;
    height: 700px;
}

.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
}


.banner-img img{
    width: 350px;
    height: 350px;
    border-radius: 175px;
}

.banner-text{
    width: 560px;
    
}

.banner-text p{
    color: #9E8C6C;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;

}



.banner-text h2{
    color: #000000;
     font-weight: 900;
    line-height: 112px;
    font-size: 126px;
}

.button{
    box-sizing: border-box;
}

.button a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0699A6;
    padding: 18px 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    

}

.session1{
    width: 350px;
    height: auto;
}

.section2{
    width: 635px;
    height: auto;
}

.session1 h3 {
    font-weight: 700;
    color: #9E8C6C;
}

ul{
    list-style: none;
    padding-left: 0;

}
.session1 li{
    font-weight: 400;
    
}

li{
    list-style: none;
}

.recent_works li{
    font-weight: 700;
    color: #0699A6;
}

.main{
    display: flex;
    justify-content: space-between;

}

.about_me h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.about_me h3{
    font-weight: 400;
}

.rectangle{
    background-color: #0699A6;
    width: 71px;
    height: 10px;
}

.experience h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.experience h3{
    font-family: "PT Sans Narrow";
    font-weight: 700;
    color: #9E8C6C;
}

.experience p{
    font-family: "PT Sans Narrow";
    font-weight: 400;
}

.second_rectangle{
    background-color: #0699A6;
    width: 71px;
    height: 10px;
}

.education h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.education h3{
    font-family: "PT Sans Narrow";
    font-weight: 700;
    color: #9E8C6C;
}

.footer{
    background-color: #F5F3F0;
    width: 100%;
    height: 547px;
    display: flex;
    justify-content: center;

    
    
}

.footer h3{

    color: #0699A6;
}

.footer h2{
    color: black;
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 66px;
}

.footer h3{
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 36px;
}

.footer img{
    height: 25.14px;  
}

.redes_sociais{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
      
        
        

    }
    header .container{
        justify-content: center;
    }

    header{
        height: auto;
        padding: 80px 0;

    }
.banner-img img{
    width: 160px;
    height: 160px;
    
}

.banner-img{
    display: flex;
    justify-content: center;
}

.banner-text h2{
     font-size: 64px;
     line-height: 45px;
     
}
.banner-text{
    width: 100%;
}
.banner-text a{
     align-items: center;
     display: table-caption;
     text-align: center;
     width: 100% ;
     display: inline;
    }
     
}

.button{
    
    width: 100%;
    height: auto;
}

.banner-text p{
    display: flex;
    justify-content: center;
}

.banner-img h2 {
    display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
  }
  .main{
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 20px auto 60px;
   
  }
  .session1{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 20px auto 60px;
    padding: 0 30px;
    text-align: left;
  }
  .section2{
    width: 100%;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    margin: 20px auto 60px;
  }
  
  .socials{
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 20px auto 60px;
  
  }
  .socials h2{
    font-size: 36px;
  }

  .socials h3{
    font-size: 20px;
  }
.redes_sociais{
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    align-items: center;
    
}

.about_me{
    flex-direction: column-reverse;
}

