
header{
    background-color: #F5F3F0;
    width: 100%;
    height: 700px;
}

.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
}


.banner-img img{
    width: 350px;
    height: 350px;
    border-radius: 175px;
}

.banner-text{
    width: 560px;
    
}

.banner-text p{
    color: #9E8C6C;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;

}



.banner-text h2{
    color: #000000;
     font-weight: 900;
    line-height: 112px;
    font-size: 126px;
}



.button a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0699A6;
    padding: 18px 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

}

.session1 h3 {
    font-weight: 700;
    color: #9E8C6C;
}

.session1 li{
    font-weight: 400;
    
}

li{
    list-style: none;
}

.recent_works li{
    font-weight: 700;
    color: #0699A6;
}

.section2{
    display: flex;

}

.about_me h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.about_me h3{
    font-weight: 400;
}

.rectangle{
    background-color: #0699A6;
    width: 71px;
    height: 10px;
}

.experience h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.experience h3{
    font-family: "PT Sans Narrow";
    font-weight: 700;
    color: #9E8C6C;
}

.experience p{
    font-family: "PT Sans Narrow";
    font-weight: 400;
}

.second_rectangle{
    background-color: #0699A6;
    width: 71px;
    height: 10px;
}

.education h1{
    font-family: "Playfair Display";
    font-weight: 900;
}

.education h3{
    font-family: "PT Sans Narrow";
    font-weight: 700;
    color: #9E8C6C;
}